.navbar{
    width:90%;
    margin:auto;
    padding:28px 0;

    display:flex;
    justify-content:space-between;
    align-items:center;
     position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

.logo h2{
    font-size:34px;
    font-weight:700;
    color:#000;
    letter-spacing:-1px;
}

.nav-links{
    display:flex;
    gap:45px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:#111;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:#8B5CF6;
}

.menu{
    font-size:32px;
    cursor:pointer;
}

@media(max-width:900px){

.nav-links{
display:none;
}

.logo h2{
font-size:30px;
}

}
nav ul li{
    transition:0.3s;
}

nav ul li:hover{
    color:#8B5CF6;
    cursor:pointer;
}
nav ul li a{
    transition:.3s;
}

nav ul li a:hover{
    color:#8B5CF6;
}